<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AnalyticsApp.UI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
        <staticContent>
             <remove fileExtension=".7z" />
			 <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
        </staticContent>
    </system.webServer>
</configuration>
<!--ProjectGuid: 98b80202-3d61-4427-a354-89acb4860fc0-->